@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --while-color: #fff;
    --primary-color : #fb5533;
    --navbar-color : #ee4d2d;
    --font-hover :hsla(0,0%,100%,0.7);
    --box-shadow : 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html{
    font-size: 62.5%;
    cursor: default;
}

.flex-1{
    flex: 1;
    
}

.position-relation{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.position-flxed{
    position: fixed;
}

/* slider run  */

.slider-item{
    width: 800px;
    height: 235px;
    position: relative;
}

.slider-item::before{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.01);
}

.slider-item-one{
    background-image: url(../images/shoppe-1.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.slider-item-two{
    background-image: url(../images/shoppe-2.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-item-three{
    background-image: url(../images/shoppe-3.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.slider-item-four{
    background-image: url(../images/shoppe-4.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.slider-item-five{
    background-image: url(../images/shoppe-5.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.slider-item-six{
    background-image: url(../images/shoppe-6.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.slider-item-seven{
    background-image: url(../images/shoppe-7.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.slider-item-eight{
    background-image: url(../images/shoppe-8.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.slider-item-nine{
    background-image: url(../images/shoppe-9.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.slider-item-ten{
    background-image: url(../images/shoppe-10.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


.owl-prev{
    position: absolute;
    left: 0;
    font-size: 3rem !important;
    color: #fff !important;
    top: 55%;
    transform: translateY(-100%);
}

.owl-next{
    position: absolute;
    right: 0;
    font-size: 3rem !important;
    color: #fff !important;
    top: 56%;
    transform: translateY(-100%);
}

.owl-next,.owl-prev:hover{
    background: none !important;
}

.owl-dots{
    position: absolute;
    bottom: 0;
    left: 38%;
}

.owl-dot span{
    margin: 0 !important;
    background-color: transparent !important;
}

.owl-dot{
    width: 13px;
    height: 13px;
    border: 2px solid #fff !important;
    border-radius: 50%;
    margin: 0 4px ;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.owl-dot.active span{
    background-color: #ee4d2d !important; 
}

